vm_name             = "Projects-Devops-Server"

vm_count = 1
image_id = "/subscriptions/89641046-9c08-41ad-954a-7ff2f2d626f7/resourceGroups/Projects-Devops-Cloud-Exercise/providers/Microsoft.Compute/images/Sys-Clean-WinServer"
