# backend/templates/WindowsSnapshot/terraform.tfvars.j2

# Derived VM name (strip ".tfstate" if present)
vm_name = "Projects-{{ (lab_name.split('/')[-1] | replace('.tfstate', '')) }}-VM"

vm_count    = {{ tf_vars.vm_count }}
vm_size     = "{{ tf_vars.vm_size }}"
snapshot_id = "{{ tf_vars.snapshot_id }}"

data_disks = [
{% if tf_vars.data_disks and tf_vars.data_disks|length > 0 -%}
{%- for d in tf_vars.data_disks -%}
  {
    name         = "{{ d.name }}",
    lun          = {{ d.lun }},
    caching      = "{{ d.caching }}",
    disk_size_gb = {{ d.disk_size_gb }}
  }{{ "," if not loop.last }}
{%- endfor -%}
{%- endif -%}
]
